.additional {

}

.additional__wrapper {

}

.additional__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 74px;
    margin-bottom: 80px;
    font-size: 32px;
    line-height: 32px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 40px;
    line-height: 40px;
  }
}

.additional__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 164px;
  }
}


.additional__wrapper-table {

}

.additional__wrapper-card {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.additional__title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additional__value {
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-right: 164px;
  }
}

.additional__price {
  @media (min-width: $tablet-width) {
    margin-right: 40px;
  }
}

.additional__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background: #68B738;
  border: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $tablet-width) {
    width: 244px;
  }
}

.present-wrapper {
  position: relative;
  background-image: url("./../../images/present-cat@1x.webp");
  margin-bottom: 40px;
}

.present-wrapper__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #68B738;
  padding-top: 186px;
  padding-bottom: 43px;
  margin: 0;
}

.present-wrapper__text::after {
  background-image: url("./../../icons/stack.svg#icon-gift");
  display: block;
  width: 78px;
  height: 80px;
  content: "";
  position: absolute;
  bottom: 100px;
  right: 130px;
}

.wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

