.additional {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 50px;
  }
}

.additional__wrapper {

}

.wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.additional__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 36px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 74px;
    margin-bottom: 80px;
    font-size: 32px;
    line-height: 32px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-size: 40px;
    line-height: 40px;
  }
}

.additional__title::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #68B738;
  width: 34px;
  height: 2px;
  right: -20px;
  top: 40px;

  @media (min-width: $tablet-width) {
    width: 357px;
  }

  @media (min-width: $desktop-width) {
    width: 80%;
    top: 20px;
    right: -110px;
  }
}

.additional__title::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #EBEBEB;
  width: 100vw;
  height: 1px;
  top: -20px;
  right: -20px;

  @media (min-width: $tablet-width) {
    background-color: #68B738;
    width: 30px;
    height: 2px;
    top: 40px;
    left: -30px;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
    left: -110px;
    width: 4%;
  }
}

.additional__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 38px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.additional__subtitle::after {
  display: block;
  content: "";
  background-color: #CDCDCD;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: -2px;

  @media (min-width: $tablet-width) {
    top: -7px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.additional__wrapper-table {
  @media (min-width: $desktop-width) {
    width: 80%;
    margin-right: 80px;
  }
}

.additional__wrapper-card {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    width: 100%;
  }
}

.additional__title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.additional__value {
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media (min-width: $tablet-width) {
    margin-right: 49px;
    padding-top: 24px;
  }
}

.additional__price {
  @media (min-width: $tablet-width) {
    margin-right: 40px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    text-align: end;
  }
}

.additional__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background: #68B738;
  border: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 19px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 240px;
    margin-top: 15px;
  }
}

.present-wrapper {
  position: relative;
  background-image: url("./../../images/present-cat@1x.webp");
  margin-bottom: 40px;
  margin-top: 34px;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: url("./../../images/catcat2@1x.png");
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("./../../images/cat3@1x.png");
    height: auto;
    width: auto;
    margin: 0;
    padding-right: 42px;
    padding-left: 42px;
  }
}

.present-wrapper::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #D9D9D9;
  width: 100%;
  height: 1px;
  top: -30px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.present-wrapper__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  padding-top: 186px;
  padding-bottom: 43px;
  margin: 0;
  width: 161px;
  padding-left: 85px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 71px;
    padding-left: 422px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 185px;
  }
}

.present-wrapper__text::after {
  background-image: url("./../../icons/stack.svg#icon-gift");
  display: block;
  width: 78px;
  height: 80px;
  content: "";
  position: absolute;
  top: 60px;
  right: 130px;

  @media (min-width: $tablet-width) {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional__button:hover {
  background-color: #5EAA2F;
}

.additional__button:active{
  background-color: #5EAA2F;
  color: rgba(255, 255, 255, 0.5);
}

.additional__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #CDCDCD;
  }
}
