.advantages {

}

.advantages__wrapper {
  background-color: #f2f2f2;
}

.advantages__wrapper--slimming {

}

.advantages__wrapper--weight {

}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.advantages__descriptions {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: center;
}

.advantages__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
}
