.advantages {

}

.advantages__wrapper {
  background-color: #f2f2f2;
}

.advantages__wrapper--slimming {

}

.advantages__wrapper--weight {

}

.advantages__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}


.advantages__title--slimming {
  background-image: url("./../../icons/stack.svg#cat-back-1");
}

.advantages__title--weight {
  background-image: url("./../../icons/stack.svg#cat-back-2");
}

.advantages__descriptions {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #222222;
}

.advantages__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $primary-color;
  text-transform: uppercase;
  text-decoration: none;
}
