.catalog {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
  }
}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 41px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 69px;
    line-height: 60px;
    margin: 0;
    padding-bottom: 160px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__title::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #D9D9D9;
  width: 100vw;
  height: 1px;
  top: 0;
  left: -20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__wrapper {

}

.catalog__list {
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: 0;
    row-gap: 130px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 144px;
  }
}

.catalog__item {
  list-style-type: none;
  position: relative;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin: 0;
    background-color: #F2F2F2;
  }
}

.catalog__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding-left: 140px;
  text-align: start;
  width: 76px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 135px;
    padding: 0;
    margin: 0;
    margin-top: 170px;
    margin-bottom: 20px;
    padding-left: 97px;
  }
}

.catalog__name-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  text-align: center;
  padding-top: 78px;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    padding-top: 160px;
    padding-bottom: 24px;
    width: 170px;
    margin: 0 auto;
  }
}

.catalog__name-title::after {
  position: absolute;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("./../../icons/stack.svg#plus");
  top: 15px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    background-image: url("./../../icons/stack.svg#plus-tablet");
    width: 60px;
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    top: 50px;
  }
}

.catalog__description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-weight: 400;
  margin: 0;
  text-align: center;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 85px;
    width: 170px;
    margin: 0 auto;
  }
}

.catalog__picture {
  position: absolute;
  top: 30px;
  left: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 82px;
    top: -60px;
    left: 2px;
  }
}

.catalog__description-list {

}

.catalog__description-wrapper {
  display: flex;
  padding-left: 140px;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 37px;
    padding-right: 37px;
  }
}

.catalog__description-wrapper:last-child {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }
}

.catalog__description-products {
  font-size: 12px;
  line-height: 26px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}

.catalog__description-products::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    height: 1px;
    width: 78%;
    background-color: #CDCDCD;
    position: absolute;
    top: 25px;
  }
}

.catalog__description-value {
  font-size: 12px;
  line-height: 26px;
  color: #444444;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #68B738;
  border: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 250px;
    margin-left: 37px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
   width: 80%;
  }
}

.catalog__button::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #D9D9D9;
  width: 100vw;
  height: 1px;
  top: -20px;
  left: -20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__item-white {
  background-color: #ffffff;
  border: 2px solid #F2F2F2;
}
