.catalog {

}

.catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.catalog__wrapper {

}

.catalog__list {

}

.catalog__item {
  list-style-type: none;
}

.catalog__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  font-weight: 400;
}

.catalog__description-list {

}

.catalog__description-wrapper {

}

.catalog__description-products {
  font-size: 12px;
  line-height: 26px;
  color: #444444;
}

.catalog__description-value {
  font-size: 12px;
  line-height: 26px;
  color: #444444;
  font-weight: 400;
}

.catalog__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #68B738;
  border: none;
}

