.example {

}

.example__wrapper {
  background-color: #f2f2f2;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
}

.example__descriptions {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: center;
}

.example__result {

}

.example__result-significance {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.example__result-description {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  text-align: center;
}

.example__cost {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__price {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

