.features {

}

.features__wrapper {

}

.features__title {
  font-family: "Oswald", sans-serif;
  color: #000000;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 40px;
}

.features__list {

}

.features__item {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: center;
  list-style-type: none;
}

.features__item--leaf {

}

.features__item--water {

}

.features__item--fork {

}

.features__item--clock  {

}



