.features {

}

.features__wrapper {

}

.features__title {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.features__list {

}

.features__item {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: center;
  list-style-type: none;
}

.features__item--leaf {
  background-image: url("./../../icons/stack.svg#leaf");
  background-color: #cccccc;
}

.features__item--water {
  background-image: url("./../../icons/stack.svg#powder");
  background-color: #cccccc;
}

.features__item--fork {
  background-image: url("./../../icons/stack.svg#eat");
  background-color: #cccccc;
}

.features__item--clock  {
  background-image: url("./../../icons/stack.svg#clock");
  background-color: #cccccc;
}


