.main-header {
  display: flex;
  justify-content: space-between;
  margin: 13px 21px 14px 20px;

  @media (min-width: $tablet-width) {
    margin: 25px 34px 65px 30px;
    justify-content: unset;
  }

  @media (min-width: $desktop-width) {
    margin: 55px 110px 32px 110px;
  }
}

.main-header__logo {
  height: 38px;

  @media (min-width: $tablet-width) {
    height: 50px;
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.5;
}

.main-header__logo-text {
  align-self: center;
}

.main-header__logo-text:hover {
  opacity: 0.8;
}

.main-header__logo-text:active {
  opacity: 0.5;
}

.main-header-pict::before {
  @media (min-width: $desktop-width) {
    content: "";
    display: block;
    position: absolute;
    width: 50vw;
    height: 700px;
    top: -60px;
    right: 0;
    background-image: url("./../../images/group@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}
