.main-nav {
  align-self: center;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.main-nav__toggle {
  background-image: url("./../../icons/stack.svg#menu");
  border: none;
  background-color: #ffffff;
  width: 24px;
  height: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0;
    flex-direction: unset;
  }
}

.main-nav__item {
  text-align: center;
  list-style-type: none;
  margin-right: 33px;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__item--active {
  position: relative;
}

.main-nav__item--active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #68B738;
  top: 30px;

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.main-nav__item--active-catalog::after {
  @media (min-width: $desktop-width) {
    background-color: #68B738;
  }
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.main-nav__link:hover {
  opacity: 0.7;
}

.main-nav__link:active {
  opacity: 0.4;
}

.main-nav__link-catalog {
  color: black;
}
