.main-header {
  display: flex;
  justify-content: space-between;
  margin: 13px 21px 14px 20px;

  @media (min-width: $tablet-width) {
    margin: 25px 34px 65px 30px;
    justify-content: unset;
  }

  @media (min-width: $desktop-width) {
    margin: 55px 110px 32px 110px;
  }
}

.main-header__logo {
  height: 38px;

  @media (min-width: $tablet-width) {
    height: 50px;
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

.main-header__logo-text {
  align-self: center;
}
