.main-nav {
  align-self: center;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.main-nav__toggle {
  background-image: url("./../../icons/stack.svg#menu");
  border: none;
  background-color: #ffffff;
  width: 24px;
  height: 24px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav__list {
  display: flex;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-nav__item {
  text-align: center;
  list-style-type: none;
  margin-right: 33px;
}

.main-nav__item:last-child {
  margin-right: 0;
}

.main-nav__item--active {

}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
