.present-wrapper {

}

.present-wrapper__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-image: url("./../../icons/stack.svg#icon-gift");
  background-color: #cccccc;
}

